@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  background-color: #98BAE7;
  color : #fff;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  transition: transform 0.3s;
  
}

.button:hover{
  background-color: #7267CB;
  transform: translateY(-5px);
}

.container{
  background-color: #7267CB;
  display:bloc;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
  height: 450px;
  
}



.row{
  margin: 8px 0;
}
.row input{
  background-color: #98BAE7;
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.text-center{
  font-family: serif;
  text-align: center;
  font-weight: 500;
}
